body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:1389px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:1389px;
}
#u74 {
  position:absolute;
  left:2px;
  top:686px;
  width:877px;
  visibility:hidden;
  word-wrap:break-word;
}
