body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u5149 {
  position:absolute;
  left:326px;
  top:3px;
  width:314px;
  height:621px;
}
#u5150 {
  position:absolute;
  left:0px;
  top:302px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u5151 {
  position:absolute;
  left:453px;
  top:37px;
  width:60px;
  height:6px;
}
#u5152 {
  position:absolute;
  left:2px;
  top:-5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5153 {
  position:absolute;
  left:478px;
  top:17px;
  width:10px;
  height:10px;
}
#u5154 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u5155 {
  position:absolute;
  left:430px;
  top:37px;
  width:6px;
  height:6px;
}
#u5156 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u5157 {
  position:absolute;
  left:461px;
  top:564px;
  width:45px;
  height:45px;
}
#u5158 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u5159 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:489px;
}
#u5160 {
  position:absolute;
  left:2px;
  top:236px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u5162 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:24px;
  color:#FFFFFF;
}
#u5163 {
  position:absolute;
  left:2px;
  top:4px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5164 {
  position:absolute;
  left:343px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5165 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5166 {
  position:absolute;
  left:417px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5167 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5168 {
  position:absolute;
  left:607px;
  top:69px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5169 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5170 {
  position:absolute;
  left:591px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5172 {
  position:absolute;
  left:361px;
  top:70px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u5173 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u5174 {
  position:absolute;
  left:478px;
  top:70px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u5175 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5176 {
  position:absolute;
  left:339px;
  top:89px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
  text-align:center;
}
#u5177 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u5178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u5178 {
  position:absolute;
  left:339px;
  top:122px;
  width:288px;
  height:1px;
}
#u5179 {
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5180 {
  position:absolute;
  left:449px;
  top:278px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5181 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5182 {
  position:absolute;
  left:449px;
  top:463px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5183 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5184 {
  position:absolute;
  left:457px;
  top:97px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5186 {
  position:absolute;
  left:355px;
  top:139px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u5187 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u5188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5188 {
  position:absolute;
  left:396px;
  top:138px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5189 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
}
#u5190 {
  position:absolute;
  left:396px;
  top:156px;
  width:91px;
  height:13px;
  font-size:11px;
  color:#666666;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u5192 {
  position:absolute;
  left:565px;
  top:138px;
  width:39px;
  height:14px;
  font-size:12px;
}
#u5193 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5194 {
  position:absolute;
  left:449px;
  top:324px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5195 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
