body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u5224 {
  position:absolute;
  left:326px;
  top:3px;
  width:314px;
  height:621px;
}
#u5225 {
  position:absolute;
  left:0px;
  top:302px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u5226 {
  position:absolute;
  left:453px;
  top:37px;
  width:60px;
  height:6px;
}
#u5227 {
  position:absolute;
  left:2px;
  top:-5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5228 {
  position:absolute;
  left:478px;
  top:17px;
  width:10px;
  height:10px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u5230 {
  position:absolute;
  left:430px;
  top:37px;
  width:6px;
  height:6px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u5232 {
  position:absolute;
  left:461px;
  top:564px;
  width:45px;
  height:45px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u5234 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:489px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:236px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u5237 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:24px;
  color:#FFFFFF;
}
#u5238 {
  position:absolute;
  left:2px;
  top:4px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5239 {
  position:absolute;
  left:343px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5240 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5241 {
  position:absolute;
  left:417px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5242 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5243 {
  position:absolute;
  left:607px;
  top:69px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5244 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5245 {
  position:absolute;
  left:591px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5246 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u5247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5247 {
  position:absolute;
  left:361px;
  top:70px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u5249 {
  position:absolute;
  left:478px;
  top:70px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u5250 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5251 {
  position:absolute;
  left:339px;
  top:89px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
  text-align:center;
}
#u5252 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u5253 {
  position:absolute;
  left:339px;
  top:122px;
  width:288px;
  height:1px;
}
#u5254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5255 {
  position:absolute;
  left:449px;
  top:278px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5256 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5257 {
  position:absolute;
  left:449px;
  top:463px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5258 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5259 {
  position:absolute;
  left:457px;
  top:97px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5260 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5261 {
  position:absolute;
  left:355px;
  top:139px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u5262 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u5263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5263 {
  position:absolute;
  left:396px;
  top:138px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5264 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
}
#u5265 {
  position:absolute;
  left:396px;
  top:156px;
  width:91px;
  height:13px;
  font-size:11px;
  color:#666666;
}
#u5266 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u5267 {
  position:absolute;
  left:565px;
  top:138px;
  width:39px;
  height:14px;
  font-size:12px;
}
#u5268 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5269 {
  position:absolute;
  left:449px;
  top:324px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5270 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
