body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u3061 {
  position:absolute;
  left:326px;
  top:3px;
  width:314px;
  height:621px;
}
#u3062 {
  position:absolute;
  left:0px;
  top:302px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u3063 {
  position:absolute;
  left:453px;
  top:37px;
  width:60px;
  height:6px;
}
#u3064 {
  position:absolute;
  left:2px;
  top:-5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3065 {
  position:absolute;
  left:478px;
  top:17px;
  width:10px;
  height:10px;
}
#u3066 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u3067 {
  position:absolute;
  left:430px;
  top:37px;
  width:6px;
  height:6px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u3069 {
  position:absolute;
  left:461px;
  top:564px;
  width:45px;
  height:45px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u3071 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:489px;
}
#u3072 {
  position:absolute;
  left:2px;
  top:236px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u3074 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:24px;
  color:#FFFFFF;
}
#u3075 {
  position:absolute;
  left:2px;
  top:4px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3076 {
  position:absolute;
  left:343px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3077 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u3078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3078 {
  position:absolute;
  left:417px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3079 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u3080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3080 {
  position:absolute;
  left:607px;
  top:69px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3081 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3082 {
  position:absolute;
  left:591px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u3083 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3084 {
  position:absolute;
  left:361px;
  top:70px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u3085 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u3086 {
  position:absolute;
  left:478px;
  top:70px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3088 {
  position:absolute;
  left:339px;
  top:89px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
  text-align:center;
}
#u3089 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u3090 {
  position:absolute;
  left:461px;
  top:95px;
  width:59px;
  height:18px;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3092 {
  position:absolute;
  left:282px;
  top:652px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3093 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3094 {
  position:absolute;
  left:590px;
  top:479px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3095 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
}
#u3096 {
  position:absolute;
  left:224px;
  top:666px;
  width:112px;
  height:16px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3097 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3098 {
  position:absolute;
  left:410px;
  top:737px;
  width:16px;
  height:16px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3099 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3100 {
  position:absolute;
  left:111px;
  top:628px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3101 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3102 {
  position:absolute;
  left:258px;
  top:710px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u3103 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u3104 {
  position:absolute;
  left:451px;
  top:123px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#66CC66;
}
#u3105 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
}
#u3106 {
  position:absolute;
  left:458px;
  top:152px;
  width:51px;
  height:18px;
  color:#5E5E5E;
}
#u3107 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:29px;
}
#u3108 {
  position:absolute;
  left:432px;
  top:180px;
  width:117px;
  height:28px;
  color:#FF0000;
}
#u3109 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u3110 {
  position:absolute;
  left:355px;
  top:224px;
  width:40px;
  height:31px;
}
#u3111 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
}
#u3112 {
  position:absolute;
  left:405px;
  top:224px;
  width:102px;
  height:18px;
}
#u3113 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u3114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:14px;
}
#u3114 {
  position:absolute;
  left:405px;
  top:242px;
  width:147px;
  height:13px;
  font-size:10px;
  color:#949494;
}
#u3115 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u3116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
}
#u3116 {
  position:absolute;
  left:562px;
  top:224px;
  width:57px;
  height:27px;
  color:#FFFFFF;
}
#u3117 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u3118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:76px;
}
#u3118 {
  position:absolute;
  left:347px;
  top:265px;
  width:272px;
  height:76px;
}
#u3119 {
  position:absolute;
  left:2px;
  top:30px;
  width:268px;
  word-wrap:break-word;
}
#u3120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u3120 {
  position:absolute;
  left:454px;
  top:353px;
  width:59px;
  height:18px;
}
#u3121 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:92px;
}
#u3122 {
  position:absolute;
  left:347px;
  top:377px;
  width:130px;
  height:92px;
}
#u3123 {
  position:absolute;
  left:2px;
  top:38px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:92px;
}
#u3124 {
  position:absolute;
  left:489px;
  top:377px;
  width:130px;
  height:92px;
}
#u3125 {
  position:absolute;
  left:2px;
  top:38px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u3126 {
  position:absolute;
  left:347px;
  top:470px;
  width:87px;
  height:18px;
}
#u3127 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u3128 {
  position:absolute;
  left:489px;
  top:470px;
  width:87px;
  height:18px;
}
#u3129 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:27px;
}
#u3130 {
  position:absolute;
  left:347px;
  top:488px;
  width:132px;
  height:26px;
  font-size:10px;
  color:#949494;
}
#u3131 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u3132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:27px;
}
#u3132 {
  position:absolute;
  left:489px;
  top:488px;
  width:132px;
  height:26px;
  font-size:10px;
  color:#949494;
}
#u3133 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u3134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3134 {
  position:absolute;
  left:347px;
  top:516px;
  width:39px;
  height:18px;
}
#u3135 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3136 {
  position:absolute;
  left:489px;
  top:514px;
  width:39px;
  height:18px;
}
#u3137 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3138 {
  position:absolute;
  left:459px;
  top:514px;
  width:20px;
  height:20px;
}
#u3139 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3140 {
  position:absolute;
  left:595px;
  top:513px;
  width:20px;
  height:20px;
}
#u3141 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
