body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u5197 {
  position:absolute;
  left:326px;
  top:3px;
  width:314px;
  height:621px;
}
#u5198 {
  position:absolute;
  left:0px;
  top:302px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u5199 {
  position:absolute;
  left:453px;
  top:37px;
  width:60px;
  height:6px;
}
#u5200 {
  position:absolute;
  left:2px;
  top:-5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5201 {
  position:absolute;
  left:478px;
  top:17px;
  width:10px;
  height:10px;
}
#u5202 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u5203 {
  position:absolute;
  left:430px;
  top:37px;
  width:6px;
  height:6px;
}
#u5204 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u5205 {
  position:absolute;
  left:461px;
  top:564px;
  width:45px;
  height:45px;
}
#u5206 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u5207 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:489px;
}
#u5208 {
  position:absolute;
  left:2px;
  top:236px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u5210 {
  position:absolute;
  left:339px;
  top:65px;
  width:288px;
  height:24px;
  color:#FFFFFF;
}
#u5211 {
  position:absolute;
  left:2px;
  top:4px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5212 {
  position:absolute;
  left:343px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5213 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5214 {
  position:absolute;
  left:417px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5215 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5216 {
  position:absolute;
  left:607px;
  top:69px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5217 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5218 {
  position:absolute;
  left:591px;
  top:70px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5220 {
  position:absolute;
  left:361px;
  top:70px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u5221 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u5222 {
  position:absolute;
  left:478px;
  top:70px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u5223 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u5224 {
  position:absolute;
  left:339px;
  top:122px;
  width:288px;
  height:1px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5226 {
  position:absolute;
  left:457px;
  top:97px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5228 {
  position:absolute;
  left:351px;
  top:129px;
  width:30px;
  height:30px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5230 {
  position:absolute;
  left:388px;
  top:130px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5231 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:12px;
}
#u5232 {
  position:absolute;
  left:388px;
  top:144px;
  width:66px;
  height:11px;
  font-size:9px;
  color:#BCBCBC;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5234 {
  position:absolute;
  left:590px;
  top:129px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u5235 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u5236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u5237 {
  position:absolute;
  left:352px;
  top:166px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u5238 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u5239 {
  position:absolute;
  left:359px;
  top:181px;
  width:12px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5240 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u5241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u5242 {
  position:absolute;
  left:559px;
  top:166px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u5243 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u5244 {
  position:absolute;
  left:584px;
  top:181px;
  width:12px;
  height:14px;
  font-size:10px;
  color:#666666;
}
#u5245 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5246 {
  position:absolute;
  left:351px;
  top:476px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u5249 {
  position:absolute;
  left:456px;
  top:166px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u5250 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u5251 {
  position:absolute;
  left:463px;
  top:181px;
  width:12px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5252 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u5253 {
  position:absolute;
  left:359px;
  top:416px;
  width:32px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5254 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u5255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5255 {
  position:absolute;
  left:352px;
  top:366px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5256 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u5257 {
  position:absolute;
  left:547px;
  top:366px;
  width:73px;
  height:14px;
  font-size:10px;
  color:#949494;
  text-align:right;
}
#u5258 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u5259 {
  position:absolute;
  left:431px;
  top:416px;
  width:32px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5260 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u5261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u5261 {
  position:absolute;
  left:507px;
  top:416px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5262 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
}
#u5263 {
  position:absolute;
  left:567px;
  top:416px;
  width:46px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5264 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5265 {
  position:absolute;
  left:355px;
  top:385px;
  width:40px;
  height:29px;
}
#u5266 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5267 {
  position:absolute;
  left:570px;
  top:385px;
  width:40px;
  height:29px;
}
#u5268 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5269 {
  position:absolute;
  left:427px;
  top:385px;
  width:40px;
  height:29px;
}
#u5270 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5271 {
  position:absolute;
  left:498px;
  top:385px;
  width:40px;
  height:29px;
}
#u5272 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5273 {
  position:absolute;
  left:423px;
  top:476px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5274 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5275 {
  position:absolute;
  left:494px;
  top:476px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5276 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5277 {
  position:absolute;
  left:566px;
  top:476px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5278 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5279 {
  position:absolute;
  left:355px;
  top:440px;
  width:40px;
  height:29px;
}
#u5280 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5281 {
  position:absolute;
  left:570px;
  top:440px;
  width:40px;
  height:29px;
}
#u5282 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5283 {
  position:absolute;
  left:427px;
  top:440px;
  width:40px;
  height:29px;
}
#u5284 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5285 {
  position:absolute;
  left:498px;
  top:440px;
  width:40px;
  height:29px;
}
#u5286 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5287 {
  position:absolute;
  left:373px;
  top:227px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5288 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u5289 {
  position:absolute;
  left:472px;
  top:144px;
  width:36px;
  height:11px;
  font-size:9px;
  color:#BCBCBC;
}
#u5290 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u5291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:15px;
}
#u5291 {
  position:absolute;
  left:352px;
  top:197px;
  width:265px;
  height:14px;
  font-size:11px;
}
#u5292 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u5293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u5293 {
  position:absolute;
  left:484px;
  top:227px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u5294 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u5295 {
  position:absolute;
  left:571px;
  top:227px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u5296 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u5297 {
  position:absolute;
  left:373px;
  top:243px;
  width:49px;
  height:1px;
}
#u5298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:61px;
}
#u5299 {
  position:absolute;
  left:352px;
  top:276px;
  width:115px;
  height:61px;
}
#u5300 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u5301 {
  position:absolute;
  left:352px;
  top:250px;
  width:72px;
  height:19px;
  font-size:10px;
}
#u5302 {
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u5303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u5303 {
  position:absolute;
  left:406px;
  top:259px;
  width:1px;
  height:1px;
}
#u5304 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:61px;
}
#u5305 {
  position:absolute;
  left:500px;
  top:276px;
  width:115px;
  height:61px;
}
#u5306 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5307 {
  position:absolute;
  left:352px;
  top:338px;
  width:15px;
  height:15px;
}
#u5308 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:14px;
}
#u5309 {
  position:absolute;
  left:374px;
  top:339px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5310 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u5311 {
  position:absolute;
  left:442px;
  top:339px;
  width:11px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5312 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u5313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5313 {
  position:absolute;
  left:456px;
  top:341px;
  width:10px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u5314 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u5315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5315 {
  position:absolute;
  left:499px;
  top:339px;
  width:15px;
  height:15px;
}
#u5316 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:14px;
}
#u5317 {
  position:absolute;
  left:521px;
  top:340px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5318 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u5319 {
  position:absolute;
  left:584px;
  top:340px;
  width:11px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u5320 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u5321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5321 {
  position:absolute;
  left:603px;
  top:342px;
  width:10px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u5322 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u5323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5323 {
  position:absolute;
  left:352px;
  top:536px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5324 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5325 {
  position:absolute;
  left:356px;
  top:500px;
  width:40px;
  height:29px;
}
#u5326 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5327 {
  position:absolute;
  left:427px;
  top:536px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5328 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5329 {
  position:absolute;
  left:431px;
  top:500px;
  width:40px;
  height:29px;
}
#u5330 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u5331 {
  position:absolute;
  left:494px;
  top:536px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5332 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u5333 {
  position:absolute;
  left:498px;
  top:500px;
  width:40px;
  height:29px;
}
#u5334 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
