body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40 {
  position:absolute;
  left:101px;
  top:77px;
  width:405px;
  height:125px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u43 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u45 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u47 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u49 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u51 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u53 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u55 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u57 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u59 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u61 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u63 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u65 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u67 {
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u69 {
  position:absolute;
  left:200px;
  top:90px;
  width:100px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u71 {
  position:absolute;
  left:300px;
  top:90px;
  width:100px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
